html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background: #2c2141;
  min-height: 100vh;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  background: #f8f8f8;
  border-radius: 16px;
  max-width: 624px;
  width: 100%;
  padding: 32px;
}

.person {
  display: flex;
  align-items: flex-start;
}

.person__description {
  font-size: 16px;
  line-height: 22px;
}

.person__description--last {
  margin-bottom: 0;
}

.person__header {
  margin-bottom: 32px;
}

.person__link {
  color: #e20613;
  text-decoration: none;
}

.person__name {
  margin: 0;
  font-weight: normal;
  font-size: 36px;
}

.person__photo {
  border-radius: 200px;
  width: 148px;
  height: 148px;
  margin-right: 32px;
}

.person__position {
  color: #545454;
  font-style: italic;
  font-size: 18px;
}

.person__special {
  color: #ed6d05;
  font-weight: normal;
}
